<a href="https://colab.research.google.com/github/tohnperfect/DPDM2021/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตารางซึ่งใน pandas เรียกว่า dataframe

In [ ]:
import pandas # import pandas คือ โหลด package ที่ชื่อว่า pandas มาใช้

In [ ]:
import pandas as pd # โหลด package ที่ชื่อว่า pandas มาใช้ แล้วตั้งชื่อว่า pd

ไฟล์ .CSV (csv = comma separated values)

In [ ]:
data_df = pd.read_csv('data.csv')

In [ ]:
data_df

   car_id        model  year   value  person_id
0     101      bentley  1973  100000          1
1     102  rolls royce  1965  330000          1

In [ ]:
data_df2 = pandas.read_csv('data.csv')
data_df2

   car_id        model  year   value  person_id
0     101      bentley  1973  100000          1
1     102  rolls royce  1965  330000          1

# Basic Python

## Variable


ข้อกำหนดในการตั้งชื่อตัวแปร
1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [ ]:
variable_a = 12
variable_b = 3.14
variable_c = 'A' # ' (quote) หรือ " (double quote)
variable_d = 'MSc Stat KKU'

In [ ]:
variable_e = '11'

In [ ]:
variable a = 12

SyntaxError: ignored

In [ ]:
ตัวแปรเอ = 123

In [ ]:
ตัวแปรเอ

123

In [ ]:
Cat = 1
cat = 2

In [ ]:
cat

2

In [ ]:
Cat

1

In [ ]:
cat1 = 2

In [ ]:
cat1

2

In [ ]:
1cat = 3

SyntaxError: ignored

In [ ]:
print(cat1)

2

In [ ]:
variable_x = variable_a + variable_b

In [ ]:
variable_x

15.14

In [ ]:
variable_a + variable_b

15.14

In [ ]:
variable_x = variable_a + variable_b + 5
print(variable_x)

20.14

In [ ]:
print(variable_a + variable_b)

15.14

In [ ]:
variable_z = variable_a
print(variable_z)

12

In [ ]:
variable_a = variable_a + 3
print(variable_a)
print(variable_z)

15
12

In [ ]:
variable_a + variable_e

TypeError: ignored

In [ ]:
variable_e + variable_a

TypeError: ignored

In [ ]:
variable_c + variable_d

'AMSc Stat KKU'

Casting int() float() str()

In [ ]:
variable_a + int(variable_e)

26

In [ ]:
variable_e + str(variable_a)

'1115'

In [ ]:
variable_e

'11'

In [ ]:
print(variable_e)

11

ตรวจสอบชนิดของตัวแปรด้วย type()

In [ ]:
type(variable_a)

int

In [ ]:
type(variable_e)

str

### Data structure

### list

In [ ]:
list_a = [1,2,3,0.9,'aaz',variable_b] ## [ ] (square brackets)

In [ ]:
list_a

[1, 2, 3, 0.9, 'aaz', 3.14]

indexing

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [ ]:
list_a[5]

3.14

In [ ]:
list_a[0]

1

negative index ชี้จากข้างหลัง

In [ ]:
list_a[-2]

'aaz'

In [ ]:
list_b = ['pizza',list_a]
list_b

['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [ ]:
list_b[1][3]

0.9

string คือ list ของ ตัวอักษร

In [ ]:
x = 'shabu'
x[3]

'b'

In [ ]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz', 3.14]
['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [ ]:
list_a + list_b

[1, 2, 3, 0.9, 'aaz', 3.14, 'pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

## การสร้าง list
1. สร้าง list ว่าง
2. เพิ่มสมาชิกลงไปใน list

1. การสร้าง list ว่าง

In [1]:
list_aa = []

In [2]:
list_aa

[]

In [3]:
list_bb = list()
print(list_bb)

[]

2. การเพิ่มสมาชิกลงไปใน list (.append())

In [4]:
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [5]:
list_aa

['chiken', 'water', 'vegetable']

In [6]:
list_aa[-1]

'vegetable'

In [7]:
list_aa.append('plate')

In [8]:
list_aa[-2]

'vegetable'

### list slicing

: (colon)

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [9]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

In [10]:
list_aa[1:3]

['water', 'vegetable']

Quiz 1

ตัด ส่วนของ list เหล่านี้มาจาก list_aa

1. 'iken'
2. 'get'
3. 'tab'

In [11]:
list_aa[-1][1:]

'late'

In [12]:
list_aa[1][:3]

'wat'

### Advance list slicing

::
เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง:step]

In [13]:
list_aa[2]

'vegetable'

In [14]:
list_aa[2][::]

'vegetable'

In [15]:
list_aa[2][::2]

'vgtbe'

In [16]:
list_aa[2][::-1]

'elbategev'

format string
```python
f'string{variable}'
```

In [17]:
f'I like to eat {list_aa[2]}' #{} curly brackets

'I like to eat vegetable'

In [18]:
f'9x10 = {9*10}'

'9x10 = 90'

## Loop
การให้ com ทำงานที่ซ้ำๆกัน หรือ ทำงานที่คล้ายๆกัน หลายๆรอบ


indent

```python
for ตัวแปรที่เราจะรับค่าจากลิสต์ in ลิสต์ที่ต้องการจะวนลูป :
    do something
    do another thing

this is outside the loop

```

In [20]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

#### ทำงานคล้ายๆกัน

In [21]:
for i in list_aa:
    print(f'now i is {i}')
    print(f'I like to eat {i}')

now i is chiken
I like to eat chiken
now i is water
I like to eat water
now i is vegetable
I like to eat vegetable
now i is plate
I like to eat plate

#### ทำงานซ้ำๆกัน

In [23]:
for i in list_aa:
    print('Ha')

Ha
Ha
Ha
Ha

In [24]:
for x in [1,3,5,7,9]:
    print(f'this x = {x} x/2 = {x/2}')

this x = 1 x/2 = 0.5
this x = 3 x/2 = 1.5
this x = 5 x/2 = 2.5
this x = 7 x/2 = 3.5
this x = 9 x/2 = 4.5

In [25]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
for i in range(100):
    print(f'Ha{i}',end='')

Ha0Ha1Ha2Ha3Ha4Ha5Ha6Ha7Ha8Ha9Ha10Ha11Ha12Ha13Ha14Ha15Ha16Ha17Ha18Ha19Ha20Ha21Ha22Ha23Ha24Ha25Ha26Ha27Ha28Ha29Ha30Ha31Ha32Ha33Ha34Ha35Ha36Ha37Ha38Ha39Ha40Ha41Ha42Ha43Ha44Ha45Ha46Ha47Ha48Ha49Ha50Ha51Ha52Ha53Ha54Ha55Ha56Ha57Ha58Ha59Ha60Ha61Ha62Ha63Ha64Ha65Ha66Ha67Ha68Ha69Ha70Ha71Ha72Ha73Ha74Ha75Ha76Ha77Ha78Ha79Ha80Ha81Ha82Ha83Ha84Ha85Ha86Ha87Ha88Ha89Ha90Ha91Ha92Ha93Ha94Ha95Ha96Ha97Ha98Ha99

In [30]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [31]:
list(range(5,100,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

### Nested loop

In [35]:
for i in range(3):
    #print(f'i = {i}')
    for j in range(2):
        #print(f'j = {j}')
        print(f'i = {i}, j = {j}, i+j = {i+j}')

i = 0, j = 0, i+j = 0
i = 0, j = 1, i+j = 1
i = 1, j = 0, i+j = 1
i = 1, j = 1, i+j = 2
i = 2, j = 0, i+j = 2
i = 2, j = 1, i+j = 3

Quiz 2

สร้าง list 
[[1],[1,1],[1,1,1],...,[1,1,1,1,1,1,1,1,1,1]] โดยใช้ for loop

In [39]:
list_ans = []
print(f'list_ans = {list_ans}')
for i in range(1,11):
    temp = []
    print(f'temp = {temp} i = {i}')
    for j in range(i):
        temp.append(1)
    print(f'temp = {temp}')
    list_ans.append(temp)
    print(f'list_ans = {list_ans}')
print(list_ans)

list_ans = []
temp = [] i = 1
temp = [1]
list_ans = [[1]]
temp = [] i = 2
temp = [1, 1]
list_ans = [[1], [1, 1]]
temp = [] i = 3
temp = [1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1]]
temp = [] i = 4
temp = [1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1]]
temp = [] i = 5
temp = [1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1]]
temp = [] i = 6
temp = [1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1]]
temp = [] i = 7
temp = [1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1]]
temp = [] i = 8
temp = [1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1]]
temp = [] i = 9
temp = [1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1]]
temp = [] i = 10
temp = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
list_ans = [[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]
[[1], [1, 1], [1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1], [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]]

Quiz 3

สร้าง list 
[[1],[1,2],[1,2,3],...,[1,2,3,4,5,6,7,8,9,10]] โดยใช้ for loop

## Conditional Statement (if statement)

```python
if เงื่อนที่เราจะตรวจสอบ (โดยอาศัยสัญลักษณ์เหล่านี้ ==, !=, <, >, <=, >=, in, is_null()) :
    ถ้าเงื่อนไขเป็นจริง ทำ 
    ถ้าเงื่อนไขเป็นจริง ทำ
```

In [40]:
if 1 < 5:
    print('yes')

yes

```python
if เงื่อนไขที่จะตรวจสอบ (โดยใช้สัญลักษณ์ ==,!=,<,>,<=,>=):
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ 2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ a2
elif เงื่อนไขที่จะตรวจสอบต่อไปถ้าเงื่อนไขข้างบนไม่เป็นจริง:
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b1
    ถ้าเงื่อนไขเป็นจริง ทำงานที่ b2
else: #ตรวจสอบเงื่อนไขข้างบนแล้วไม่เป็นจริง
    ทำงานที่ X
```

In [42]:
x = -12

if x < 5:
    print('yes')
else:
    print('no')

yes

### example
list_ex = [1,5,9,-19,-2,0] #หาค่าน้อยที่สุดใน list_ex โดยไม่ใช้ function min (ใช้ for กับ if)

In [45]:
min = 100000000
print(list_ex)
for i in list_ex:
    print(f'now i = {i}, min = {min}')
    print('start condition')
    if i < min:
        print(f'i < min, update min -> {i}')
        min = i
    else:
        print('i >= min, not update')
    print('end condition, go to next i')

print(min)

[1, 5, 9, -19, -2, 0]
now i = 1, min = 100000000
start condition
i < min, update min -> 1
end condition, go to next i
now i = 5, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = 9, min = 1
start condition
i >= min, not update
end condition, go to next i
now i = -19, min = 1
start condition
i < min, update min -> -19
end condition, go to next i
now i = -2, min = -19
start condition
i >= min, not update
end condition, go to next i
now i = 0, min = -19
start condition
i >= min, not update
end condition, go to next i
-19

In [46]:
list_ex = [1,5,9,-19,-2,0]

min = 100000000
for x in list_ex:
    if x < min:
        min = x

print(min)

-19

### quiz 4
list_ex = [1,5,9,-19,-2,0] #หาค่ามากที่สุดใน list_ex โดยไม่ใช้ function max (ใช้ for กับ if)

NameError: ignored