<a href="https://colab.research.google.com/github/tohnperfect/DPDM2021/blob/main/Data102_(Chapter_2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd # ทำงานกับข้อมูลลักษณะ ตาราง

In [2]:
from google.colab import drive # เชื่อม google drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os # จัดการไฟล์และ path

In [5]:
path = '/content/drive/My Drive/DPDM2021_DATA'

In [6]:
data = pd.read_csv(os.path.join(path,'thailand_covid-19_testing_data.csv'))
data

                    Date  positive  ...  Unnamed: 120  Unnamed: 121
0    Cannot specify date      2963  ...           NaN           NaN
1               1/1/2020         0  ...            31           NaN
2               2/1/2020         0  ...           Pos           Pos
3               3/1/2020         0  ...           NaN           NaN
4               4/1/2020         0  ...           NaN           NaN
..                   ...       ...  ...           ...           ...
567            20/7/2021     68403  ...           NaN           NaN
568            21/7/2021     82325  ...           NaN           NaN
569            22/7/2021     62846  ...           NaN           NaN
570            23/7/2021     58851  ...           NaN           NaN
571            24/7/2021     67283  ...           NaN           NaN

[572 rows x 122 columns]

NaN คือ Not a Number

In [7]:
dataN = data.iloc[1:,:3]  #.iloc[แถว,หลัก]
dataN

          Date  positive  Total Testing
1     1/1/2020         0              0
2     2/1/2020         0              0
3     3/1/2020         0              0
4     4/1/2020         0              2
5     5/1/2020         0              2
..         ...       ...            ...
567  20/7/2021     68403          10152
568  21/7/2021     82325          12210
569  22/7/2021     62846          10623
570  23/7/2021     58851          10200
571  24/7/2021     67283          13745

[571 rows x 3 columns]

head() tail()

In [8]:
dataN.head()

       Date  positive  Total Testing
1  1/1/2020         0              0
2  2/1/2020         0              0
3  3/1/2020         0              0
4  4/1/2020         0              2
5  5/1/2020         0              2

In [9]:
dataN.tail()

          Date  positive  Total Testing
567  20/7/2021     68403          10152
568  21/7/2021     82325          12210
569  22/7/2021     62846          10623
570  23/7/2021     58851          10200
571  24/7/2021     67283          13745

In [10]:
dataN.head(20)

         Date  positive  Total Testing
1    1/1/2020         0              0
2    2/1/2020         0              0
3    3/1/2020         0              0
4    4/1/2020         0              2
5    5/1/2020         0              2
6    6/1/2020         0              5
7    7/1/2020         0              0
8    8/1/2020         1              1
9    9/1/2020         4             13
10  10/1/2020         0             18
11  11/1/2020         0              3
12  12/1/2020         2              6
13  13/1/2020         2             14
14  14/1/2020         6              7
15  15/1/2020         5             12
16  16/1/2020         1              9
17  17/1/2020         0              5
18  18/1/2020         1             23
19  19/1/2020         1              6
20  20/1/2020         3             48

In [11]:
dataN.tail(20)

          Date  positive  Total Testing
552   5/7/2021      4770          52017
553   6/7/2021      6066          70051
554   7/7/2021      6224          62695
555   8/7/2021      6624          66596
556   9/7/2021      6890          66267
557  10/7/2021      9045          74906
558  11/7/2021      8564          77848
559  12/7/2021      6391          56775
560  13/7/2021      7549          70798
561  14/7/2021      7877          65836
562  15/7/2021      8648          70403
563  16/7/2021      9627          73260
564  17/7/2021      9221          68384
565  18/7/2021     68326          12192
566  19/7/2021     64522           9466
567  20/7/2021     68403          10152
568  21/7/2021     82325          12210
569  22/7/2021     62846          10623
570  23/7/2021     58851          10200
571  24/7/2021     67283          13745