<a href="https://colab.research.google.com/github/tohnperfect/DPDM2021/blob/main/Data101_(Chapter2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas คือ package ที่มีคนพัฒนาขึ้นมาเพื่อใช้จัดการข้อมูลที่มีลักษณะเป็นตารางซึ่งใน pandas เรียกว่า dataframe

In [1]:
import pandas # import pandas คือ โหลด package ที่ชื่อว่า pandas มาใช้

In [2]:
import pandas as pd # โหลด package ที่ชื่อว่า pandas มาใช้ แล้วตั้งชื่อว่า pd

ไฟล์ .CSV (csv = comma separated values)

In [4]:
data_df = pd.read_csv('data.csv')

In [5]:
data_df

   car_id        model  year   value  person_id
0     101      bentley  1973  100000          1
1     102  rolls royce  1965  330000          1

In [6]:
data_df2 = pandas.read_csv('data.csv')
data_df2

   car_id        model  year   value  person_id
0     101      bentley  1973  100000          1
1     102  rolls royce  1965  330000          1

# Basic Python

## Variable


ข้อกำหนดในการตั้งชื่อตัวแปร
1. ชื่อห้ามมีเว้นวรรค
2. (พยายาม)ใช้ภาษาอังกฤษ
3. ตัวเล็กกับตัวใหญ่ แตกต่างกัน (case sensitive)
4. ห้ามใช้ตัวเลขเป็นตัวหน้า

In [19]:
variable_a = 12
variable_b = 3.14
variable_c = 'A' # ' (quote) หรือ " (double quote)
variable_d = 'MSc Stat KKU'

In [28]:
variable_e = '11'

In [7]:
variable a = 12

SyntaxError: ignored

In [8]:
ตัวแปรเอ = 123

In [9]:
ตัวแปรเอ

123

In [10]:
Cat = 1
cat = 2

In [11]:
cat

2

In [12]:
Cat

1

In [13]:
cat1 = 2

In [14]:
cat1

2

In [15]:
1cat = 3

SyntaxError: ignored

In [17]:
print(cat1)

2

In [20]:
variable_x = variable_a + variable_b

In [21]:
variable_x

15.14

In [22]:
variable_a + variable_b

15.14

In [24]:
variable_x = variable_a + variable_b + 5
print(variable_x)

20.14

In [25]:
print(variable_a + variable_b)

15.14

In [26]:
variable_z = variable_a
print(variable_z)

12

In [27]:
variable_a = variable_a + 3
print(variable_a)
print(variable_z)

15
12

In [29]:
variable_a + variable_e

TypeError: ignored

In [30]:
variable_e + variable_a

TypeError: ignored

In [31]:
variable_c + variable_d

'AMSc Stat KKU'

Casting int() float() str()

In [32]:
variable_a + int(variable_e)

26

In [33]:
variable_e + str(variable_a)

'1115'

In [35]:
variable_e

'11'

In [36]:
print(variable_e)

11

ตรวจสอบชนิดของตัวแปรด้วย type()

In [37]:
type(variable_a)

int

In [38]:
type(variable_e)

str

### Data structure

### list

In [39]:
list_a = [1,2,3,0.9,'aaz',variable_b] ## [ ] (square brackets)

In [40]:
list_a

[1, 2, 3, 0.9, 'aaz', 3.14]

indexing

1. ใช้ลำดับในการชี้
2. ลำดับเริ่มจาก 0
3. สามารถชี้จากข้างหลังได้โดยใช้ negative index

In [41]:
list_a[5]

3.14

In [42]:
list_a[0]

1

negative index ชี้จากข้างหลัง

In [43]:
list_a[-2]

'aaz'

In [44]:
list_b = ['pizza',list_a]
list_b

['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [46]:
list_b[1][3]

0.9

string คือ list ของ ตัวอักษร

In [48]:
x = 'shabu'
x[3]

'b'

In [49]:
print(list_a)
print(list_b)

[1, 2, 3, 0.9, 'aaz', 3.14]
['pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

In [50]:
list_a + list_b

[1, 2, 3, 0.9, 'aaz', 3.14, 'pizza', [1, 2, 3, 0.9, 'aaz', 3.14]]

## การสร้าง list
1. สร้าง list ว่าง
2. เพิ่มสมาชิกลงไปใน list

1. การสร้าง list ว่าง

In [51]:
list_aa = []

In [52]:
list_aa

[]

In [53]:
list_bb = list()
print(list_bb)

[]

2. การเพิ่มสมาชิกลงไปใน list (.append())

In [54]:
list_aa.append('chiken')
list_aa.append('water')
list_aa.append('vegetable')

In [55]:
list_aa

['chiken', 'water', 'vegetable']

In [56]:
list_aa[-1]

'vegetable'

In [57]:
list_aa.append('plate')

In [58]:
list_aa[-2]

'vegetable'

### list slicing

: (colon)

เราจะตัดlist โดยเอาตั้งแต่ [ตัวหน้า:ตัวก่อนตัวหลัง]

ถ้าเป็นสัญลักษณ์คณิตศาสตร์ [ตัวหน้า:ตัวหลัง] -> [ตัวหน้า,ตัวหลัง)

In [59]:
list_aa

['chiken', 'water', 'vegetable', 'plate']

In [60]:
list_aa[1:3]

['water', 'vegetable']

Quiz 1

ตัด ส่วนของ list เหล่านี้มาจาก list_aa

1. 'iken'
2. 'get'
3. 'tab'

In [61]:
list_aa[-1][1:]

'late'

In [64]:
list_aa[1][:3]

'wat'

### Advance list slicing